.buttons-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  
  .buy-sell-buttons {
    display: flex;
    gap: 20px;
  }
  
  .action-button {
    background-color: #93949b;
    color: #ffffff;
    padding: 1em 2em;
    font-size: 1.5em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.25s;
    display: flex;
    margin-top: 20px;
  }
  
  .action-button:hover {
    background-color: #535bf2;
  }
  
  .icon {
    width: 40px;
    height: 40px;
    margin-right: 3px;
    margin-bottom: 3px;
  }
  