#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.buy-sell-buttons {
    display: flex;
    gap: 20px;
}

.action-button {
    background-color: #93949b;
    color: #ffffff;
    padding: 1em 2em;
    font-size: 1.5em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.25s;
    align-items: center;
    margin-top: 20px;
}

.action-button:hover {
    background-color: #535bf2;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 3px;
}

.header {
    display: flex;
    justify-content: space-between;
    /* Distribute elements evenly */
    align-items: center;
    /* Center items vertically */
    background-color: #f1f1f1;
    /* Optional background color */
    padding: 10px;
    /* Optional padding */
}


/* Style individual header elements */

.logo {
    /* Add styles for your logo */
}

.nav {
    /* Add styles for your navigation links */
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin-right: 15px;
    /* Adjust spacing between navigation items */
}

.Title {
    /* Add styles for your title */
    flex-grow: 1;
    /* Allow the title to take up remaining space */
    text-align: center;
    /* Center the text */
}

.logo {
    /* Add styles for your title */
    flex-grow: 1;
    /* Allow the title to take up remaining space */
    text-align: left;
    /* Center the text */
}

.icon:hover {
    cursor: pointer;
    color: #888;
}